.notification
  チャットグループが作成されました。
.chat-side
  .chat-side__top
    .user-content
      .user-content__name タイゾー
      = link_to '/', class: 'user-content__link' do
        = fa_icon 'pencil-square-o', class: 'icon'

      = link_to '/', class: 'user-content__link' do
        = fa_icon 'cog', class: 'icon'
  .chat-side__bottom
    .group-contents
      .group-content
        %p.group-content__name シューゾーの会
        %p.group-content__text 解散！
      .group-content
        %p.group-content__name シューゾーの会
        %p.group-content__text 解散！
      .group-content
        %p.group-content__name シューゾーの会
        %p.group-content__text 解散！
.chat-main
  .chat-main__header
    .group-info
      .group-info__detail
        %h3.group-info__detail__name シューゾーの会
        %p.group-info__detail__member MEMBER: シューゾー、タイゾー、シンゾー
    = link_to 'edit','/', class: 'group-info__button'
  .chat-main__body
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
    .post
      %ul.post__detail.clearfix
        %li.post__detail__user タイゾー
        %li.post__detail__time 2018/07/26 14:13:32
      .post__text 解散しますか？
  .chat-main__footer
    .message
      %input.message__text{type: 'text', placeholder: 'type a message'}
      %label
        %input{type: 'file', style: 'display:none'}
        = fa_icon 'cog', class: 'message__file'
      %input.message__submit{type: 'submit', value: 'Send'}
