.notification
= render 'shared/side_bar'
.chat-main
  .chat-main__header
    .group-info
      .group-info__detail
        %h3.group-info__detail__name=@group.name
        %p.group-info__detail__member= "MEMBER: #{@group.users.map{|user| user.name}.join("、")}"
    = link_to 'edit',edit_group_path(@group), class: 'group-info__button'
  .chat-main__body
    =render @messages
  .chat-main__footer
    = form_for [@group, @message] do |f|
      .message
        = f.text_field :content, placeholder: 'type a message', class: 'message__text'
        %label
          = f.file_field :image, style: 'display:none'
          = fa_icon 'cog', class: 'message__file'
        = f.submit "Send", class: 'message__submit'
