.chat-side
  .chat-side__top
    .user-content
      .user-content__name= current_user.name
      = link_to new_group_path, class: 'user-content__link' do
        = fa_icon 'pencil-square-o', class: 'icon'

      = link_to edit_user_path(current_user), class: 'user-content__link' do
        = fa_icon 'cog', class: 'icon'
  .chat-side__bottom
    - if current_user.groups
      .group-contents
        - current_user.groups.each do |group|
          .group-content
            %p.group-content__name=group.name
            %p.group-content__text 解散！